{% extends "base.html" %}

{% block title %} - Top{% endblock %}
{% block top_class %} active{% endblock %}
{% block content %}

    <main role="main" class="container">
     <div class="row">

      <div class="col-5">
        <h3 class="right"><a href="/top/fingerprints">Top Fingerprints</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Fingerprint</td>
            <th>Connections</td>
            </tr>
          </thead>
          <tbody>
            {% for d in top_ids %}
              <tr>
                <td>{{ d.rank }}</td>
                <td align="right"><a href="/id/{{ d.id }}">{{ d.id }}</a></td>
                <td>{{'%0.1f'| format(d.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <h3 class="right"><a href="/top/N/fingerprints">Top Normalized Fingerprints</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">N/Fingerprint</td>
            <th>Connections</td>
            </tr>
          </thead>
          <tbody>
            {% for d in top_norm_ids %}
              <tr>
                <td>{{ d.rank }}</td>
                <td align="right"><a href="/id/N/{{ d.id }}">{{ d.id }}</a></td>
                <td>{{'%0.1f'| format(d.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <h3 class="right"><a href="/top/extensions">Top Extensions</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Extension</td>
            <th>Connections</td>
          </thead>
          <tbody>
            {% for e in top_exts %}
              <tr>
                <td>{{ e.rank }}</td>
                <td align="right"><a href="/find/extension/{{ '%04x' % e.id }}">{{ e.name }} (0x{{ '%04x' % e.id }})</a></td>
                <td>{{'%0.1f'| format(e.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

     <div class="row">

      <div class="col-5">
        <h3 class="right"><a href="/top/groups">Top Named Groups</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Named Group</td>
            <th>Connections</td>
          </thead>
          <tbody>
            {% for e in top_groups %}
              <tr>
                <td>{{ e.rank }}</td>
                <td align="right"><a href="/find/group/{{ '%04x' % e.id }}">{{ e.name }} (0x{{ '%04x' % e.id }})</a></td>
                <td>{{'%0.1f'| format(e.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
 

     <div class="col-5">
        <h3 class="right"><a href="/top/versions">Top <tt>supported_versions</tt></a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Version</td>
            <th>Connections</td>
          </thead>
          <tbody>
            {% for e in top_versions %}
              <tr>
                <td>{{ e.rank }}</td>
                <td align="right"><a href="/find/supported_version/{{ '%04x' % e.id }}">{{ e.name }} (0x{{ '%04x' % e.id }})</a></td>
                <td>{{'%0.1f'| format(e.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div>

     <div class="row">
      <div class="col-6">
        <h3 class="right"><a href="/top/ciphers">Top Cipher Suites</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Cipher Suite</td>
            <th>%Client Hellos</td>
            <th>%Server Hellos</td>
          </thead>
          <tbody>
            {% for e in top_ciphers %}
              <tr>
                <td>{{ e.rank }}</td>
                <td align="right"><a href="/find/cipher/{{ '%04x' % e.id }}">{{ e.name }}</a></td>
                <td>{{'%0.1f'| format(e.frac|float)}}%</td>
                <td>{{'%0.1f'| format(e.selected_f|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h3 class="right"><a href="/clusters">Top Clusters</a></h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Cluster #</th>
            <th>Fingerprints</th>
            <th>Connections</th>
          </thead>
          <tbody>
            {% for c in clusters %}
            <tr>
                <td><a href="/cluster/{{ c.largest_id }}">#{{ c.cluster_num }}</a></td>
                <td>{{ c.num_fps }}</td>
                <td>{{ '%0.1f' % c.pct_conns }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div>
 

    </main>
{% endblock %}


{% block foot %}
<!--

-->
{% endblock %}
