{% extends "base.html" %}

{% block title %} - Versions{% endblock %}
{% block versions_class %} active{% endblock %}
{% block content %}

    <main role="main" class="container">
     <div class="row">
      <div class="col-12">
        <h3>TLS Versions</h3>
        <div class="alert alert-info" role="alert">
        <h4 class="alert-header">Versions</h4>
        <p>TLS has three places for versions in the Client Hello:
            <ul>
                <li>Record version</li>
                <li>Handshake version</li>
                <li><tt>supported_versions</tt> extension (in TLS 1.3)</li>
            </ul>
            It's typical to use the Record version as a "minimum" version, and the Handshake version as the "maximum" version supported by the
            client. In TLS 1.3, the Handshake version is set to TLS 1.2, and the <tt>supported_versions</tt> extension is used to send a list of
            supported extensions that the client actually supports (e.g. TLS 1.3, TLS 1.2, TLS 1.1, TLS 1.0).
        </p>

        </div>
      </div>
     </div>
     <div class="row">
       <div class="col-6">
         <h3>Max TLS versions</h3>
         <p>This table lists the maximum supported version of connections, either from the Handshake version,
         or the first (non-GREASE) listed in the <tt>supported_versions</tt> extension.</p>
         <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</th>
            <th>Version</th>
            <th>Connections</th>
            </tr>
          </thead>
          <tbody>
            {% for v in max_supported_versions %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ v.s }} (0x{{ '%04x' % v.n }})</td>
                <td>{{ '%0.1f' % v.pct }}%</td>
              </tr>
            {% endfor %}
           </tbody>
         </table>
        </div>
        <div class="col-6">

        <h3>Top <tt>supported_versions</tt></h3>
        <p>This table breaks down the percent of connections that send the <tt>supported_versions</tt> extension (defined by TLS 1.3),
        and what version they support.</p>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</th>
            <th>Supported Version</th>
            <th>Fingerprints</th>
            <th>Connections</th>
            </tr>
          </thead>
          <tbody>
            {% for e in top_versions %}
              <tr>
                <td>{{ e.rank }}</td>
                <td><a href="/find/supported_version/{{ '%04x' % e.id }}">{{ e.name }} (0x{{ '%04x' % e.id }})</a></td>
                <td>{{ e.fps }}</td>
                <td>{{'%0.1f'| format(e.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </main>
{% endblock %}


{% block foot %}
<!--
Rank & Versions & Fingerprints & \% Connections \\
\hline

{% for d in top_versions %}
{{ d.name|replace("_","\\_") }} & {{ '%0.1f'|format(d.frac|float) }}% \\
{% endfor %}

-->
{% endblock %}
