<!doctype html>
<html lang="en">
  <head>
    <title>TLSfingerprint.io{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/graph.css">
    <link rel="stylesheet" href="/static/highlight.default.css">
    <link rel="stylesheet" href="/static/datatables.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <!--<script data-require="d3@3.5.3" data-semver="3.5.3" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>-->
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="/static/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">TLSFingerprint.io</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% block home_class %}{% endblock %}"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item{% block top_class %}{% endblock %}"><a class="nav-link" href="/top">Top</a></li>
          <li class="nav-item{% block total_class %}{% endblock %}"><a class="nav-link" href="/total">Stats</a></li>
          <li class="nav-item{% block ciphers_class %}{% endblock %}"><a class="nav-link" href="/top/ciphers">Cipher Suites</a></li>
          <li class="nav-item{% block weak_class %}{% endblock %}"><a class="nav-link" href="/weak-ciphers">Weak Ciphers</a></li>
          <li class="nav-item{% block extensions_class %}{% endblock %}"><a class="nav-link" href="/top/extensions">Extensions</a></li>
          <li class="nav-item{% block sigalgs_class %}{% endblock %}"><a class="nav-link" href="/sig-algs">Signature Algorithms</a></li>
          <!--<li class="nav-item{% block browser_class %}{% endblock %}"><a class="nav-link" href="/browsers">Browsers</a></li>-->
          <li class="nav-item{% block alpn_class %}{% endblock %}"><a class="nav-link" href="/alpn">ALPN</a></li>
          <li class="nav-item{% block session_class %}{% endblock %}"><a class="nav-link" href="/session-tickets">Session Tickets</a></li>
          <li class="nav-item{% block pcap_class %}{% endblock %}"><a class="nav-link" href="/pcap">pcap</a></li>
	 <!--
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
         -->
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
{% block foot %}{% endblock %}
