{% extends "base.html" %}

{% block title %}: id {{ id }}{% endblock %}

{% block content %}
   <main role="main" class="container">
      <div class="col-12">
        <h1><a href="/id/{{ id }}">{{ id }}</a></h1>
        <table class="table">
          <tbody>
            <tr>
                <td><b>Seen</b> <span class="right-inline"></span></td>
                <td>{{ seen }} times ({{'%0.2f'| format(frac|float)}}%)</td>
            </tr>
            <tr>
                <td><b>Rank</b> <span class="right-inline"></span></td>
                <td>{{ rank }} / {{ unique }}</td>
            </tr>

            <h3>QUIC header</h3>
            <tr>
                <td><b>Version</b></td>
                <td>{{ quic_version }}</td>
            </tr>
            <tr>
                <td><b>SID length</b></td>
                <td>{{ sid_len }}</td>
            </tr>
            <tr>
                <td><b>DID length</b></td>
                <td>{{ did_len }}</td>
            </tr>
            <tr>
                <td><b>Frames</b></td>
                <td>{% for f in frames %}{{ f.s }}<br/>{% endfor %}</td>
            </tr>
            <tr>
                <td><b>Token length</b></td>
                <td>{{ token_len }}</td>
            </tr>
            <tr>
                <td><b>Packet Number</b></td>
                <td>{{ pkt_num }}</td>
            </tr>
          </tbody>
        </table>
        <!--
        </table>
        <h3>Times seen (per hour)</h3>
        <div class="graph" id="graph">
        <canvas ylabel="Connections / hour" yformat=".2s" width="960" height="500"></canvas>
        <script src="/idgraph.js/measurements/{{ id }}/graph"></script>
        </div>

        <h3>Percent seen (24 hour averaged)</h3>
        <div class="graph" id="norm">
        <canvas width="960" height="500"></canvas>
        <script src="/idgraph.js/data/norm/{{ id }}/norm?fill=false"></script>
        </div>

        -->

      </div>
    </main>

<!-- {% for t in times %}
{{ t }}
{% endfor %}
 -->
{% endblock %}
