{% extends "quic-base.html" %}

{% block title %} - Top{% endblock %}
{% block top_class %} active{% endblock %}
{% block content %}

    <main role="main" class="container">
    <div class="row">
      <h3>Top overall</h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</th>
            <th>Fingerprint</th>
            <th>QUIC</th>
            <th>TLS</th>
            <th>Transport param</th>
            <th>Label</th>
            <th>Connections</th>
            </tr>
          </thead>
          <tbody>
            {% for d in top_super_ids %}
              <tr>
                <td>{{ d.rank }}</td>
                <td><a href="/id/{{ d.id }}">{{ d.id }}</a></td>
                <td><a href="/qid/{{ d.quic_id }}">{{ d.quic_id }}</a></td>
                <td><a href="/tid/{{ d.tls_id }}">{{ d.tls_id }}</a></td>
                <td><a href="/qtp/{{ d.qtp_id}}">{{ d.qtp_id }}</a></td>
                <td>{{ d.name }}</td>
                <td>{{'%0.1f'| format(d.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
     
    </div>
     <div class="row">
      <div class="col-5">
        <h3 class="right">Top QUIC Fingerprints</h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</th>
            <th align="right">Fingerprint</th>
            <th>Connections</th>
            </tr>
          </thead>
          <tbody>
            {% for d in top_quic_ids %}
              <tr>
                <td>{{ d.rank }}</td>
                <td align="right"><a href="/qid/{{ d.qid }}">{{ d.qid }}</a></td>
                <td>{{'%0.1f'| format(d.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <h3 class="right">Top TLS fingerprints</h3>
        (inside Client Initial packets)
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</td>
            <th align="right">Fingerprint</td>
            <th>Connections</td>
          </thead>
          <tbody>
            {% for t in top_tls_ids %}
              <tr>
                <td>{{ t.rank }}</td>
                <td align="right"><a href="/tid/{{ t.tid }}">{{ t.tid }}</a></td>
                <td>{{'%0.1f'| format(t.frac|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h3>Top Labels</h3>
        <table class="table table-condensed table-sm table-striped">
          <thead>
            <tr>
            <th>Rank</th>
            <th>Label</th>
            <th>Unique FPs</th>
            <th>Unique QUIC</th>
            <th>Unique TLS</th>
            <th>Unique QTP</th>
            <th>Connections</th>
            </tr>
        </thead>
        <tbody>
           {% for label in top_labels %}
           <tr>
             <td>{{ label.rank }}</td>
             <td>{{ label.name }}</td>
             <td>{{ label.uniq_fps }}</td>
             <td>{{ label.uniq_quic }}</td>
             <td>{{ label.uniq_tls }}</td>
             <td>{{ label.uniq_qtp }}</td>
             <td>{{ '%0.1f' | format(label.frac|float) }}%</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
     </div>
    </main>
{% endblock %}


{% block foot %}
<!--

-->
{% endblock %}
