{% extends "base.html" %}

{% block title %} - Top unchosen ciphers{% endblock %}
{% block unchosen_class %} active{% endblock %}
{% block content %}

    <main role="main" class="container">
      <div class="col-12">
        <h3>Top Unchosen Ciphers</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
            <th>Rank</th>
            <th>Cipher Suite</th>
            <th>Fingerprints</th>
            <th>Seen</th>
            <th>% Measurements</th>
            </tr>
          </thead>
          <tbody>
            {% for d in top_ciphers %}
              <tr>
                <td>{{ d.rank }}</td>
                <td><a href="/find/cipher/{{ '%04x' % d.id }}">{{ d.name }} (0x{{ '%04x' % d.id }})</a></td>
                <td>{{ d.fingerprints }}</td>
                <td>{{ d.seen }}</td>
                <td>{{'%0.2f'| format(d.seen_f|float)}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </main>
{% endblock %}


{% block foot %}
<!--
Rank & Cipher Suite & Fingerprints & \% Connections \\
\hline

{% for d in top_ciphers %}
{{ d.rank }} & {{ d.name|replace("_","\\_") }} & {{ d.fingerprints }} & {{ '%0.1f'|format(d.seen_f|float) }}% \\
{% endfor %} 

-->
{% endblock %}
